default:
    extensions:
        FriendsOfBehat\SymfonyExtension:
            kernel:
                class: Techpump\Apps\API\Kernel
                environment: test
            bootstrap: features/bootstrap.php
        Behat\MinkExtension:
            sessions:
                symfony:
                    symfony: ~
    suites:
        health_check:
            paths: [features/health_check]
            contexts:
                - Tests\Techpump\Shared\Infrastructure\Behat\Context\Api\HttpContext
        cart:
            paths: [features/cart]
            contexts:
                - Tests\Techpump\Shared\Infrastructure\Behat\Context\Api\HttpContext
