parameters:
    level: 3
    paths:
        - bin/
        - apps/
        - src/
        - tests/
    excludePaths:
        analyse:
            - tests/src/Shared/Infrastructure/Behat
    symfony:
        containerXmlPath: var/cache/head/dev/App_Apps_Head_KernelDevDebugContainer.xml
    doctrine:
        objectManagerLoader: etc/phpstan/object-manager.php
